body {
    font-family: 'Sedgwick Ave', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.header {
    margin: 50px auto;
}

#selectedFighter {
    font-size: 30em;
    opacity: 1;
}

#computerFighter {
    font-size: 30em;
    opacity: 0.9;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.selectedContainer {
    position: relative;
    width: 480px;
}

.selectedNameLeft, .selectedNameRight {
    font-size: 6em;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.selectedNameLeft {
    right: 0;
}

.selectedNameRight {
    left: 0;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.realMain {
    display: flex;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

.fighterGrid {
    border: 1px solid gray;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 500px;
}

.fighter {
    font-size: 5em;
    border: 1px solid gray;
    overflow: hidden;
}

.active {
    background-color: yellow;
    transform: scale(1.05);
}

/* POPUP */
.fightArea {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    top: 45%;
    height: 200px;
    width: 100%;
    background-color: white;
}

.fightCard {
    height: 150px;
    width: 150px;
    border: 1px solid blue;
    font-size: 5em;
}

/* toggle once player has selected fighter */
.invisible {
    display: none;
}


/* FOOTER */
.footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
}

/* Individual Fighter Skins */
#r0, .r0 {color: black}
#r1, .r1 {color: blue}
#r2, .r2 {color: green}
#r3, .r3 {color: red}
#r4, .r4 {color: purple}
#p0, .p0 {color: black}
#p1, .p1 {color: blue}
#p2, .p2 {color: green}
#p3, .p3 {color: red}
#p4, .p4 {color: purple}
#s0, .s0 {color: black}
#s1, .s1 {color: blue}
#s2, .s2 {color: green}
#s3, .s3 {color: red}
#s4, .s4 {color: Purple}


