body {
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

#selectedFighter, #computerFighter {
    font-size: 30em;
    opacity: 0.5;
}

.selectedContainer {
    position: relative;
    width: 480px;
}

.selectedNameLeft, .selectedNameRight {
    font-size: 6em;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.selectedNameLeft {
    right: 0;
}

.selectedNameRight {
    left: 0;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.realMain {
    display: flex;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

.fighterGrid {
    border: 1px solid red;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 500px;
}

.fighter {
    color: black;
    font-size: 5em;
    border: 1px solid green;
    background-color: white;
}

.active.rock {
    background-color: yellow;
}
.active.paper {
    background-color: lightblue;
}
.active.scissor {
    background-color: lightgreen;
}

/* POPUP */
.fightArea {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    top: 45%;
    height: 200px;
    width: 100%;
    background-color: white;
}

.fightCard {
    height: 150px;
    width: 150px;
    border: 1px solid blue;
}

/* toggle once player has selected fighter */
.invisible {
    display: none;
}


/* FOOTER */
.footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
}